.lastMin {
  background-image: url("../globalAssets/images/lastMinute.jpg");
  background-repeat: inherit;
  background-position: center;
  background-size: cover;
}

.privacy {
  background-image: url("../globalAssets/images/privacy.jpg");
  background-repeat: inherit;
  background-position: center;
  background-size: cover;
}
