.ProductSection{
    height: 35rem;
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 750px) {
    .ProductSection{
        height: 60rem;
    }
  }