.img-after:after {
    color: white;
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -50%);
    font-family: 'DM Serif Display';
    font-size: 1.5rem;
  }
  
  .smm:hover:after {
    content: "New Car";
    font-size: 2rem;
    color:yellow
  }
  
  .seo:hover:after {
    content: "Used Car";
    font-size: 2rem;
    color: yellow;
  }
  
  @media screen and (min-width: 480px) {
    .seo:hover:after {
      font-size:4rem;
    }

    .smm:hover:after {
      font-size:4rem;
    }
  }